.header {
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.icon-logo {
    width: 52px;
    height: 52px;
}
.icon-menu {
    width: 25px;
    height: 20px;
}
.icon-basket {
    width: 18px;
    height: 16px;
}