.scrin-first {
    background: url('../images/main-img-mobile.jpg');
    height: 463px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 16px;

}
@media (min-width: 321px) {
    .scrin-first {
        background: url('../images/main-img-tablet.jpg');
    }
}
@media (min-width: 769px) {
    .scrin-first {
        background: url('../images/main-img-desktop.jpg');
    }
}

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
@media (min-width:769px){
    .blog {
        gap:60px
    }
    
}
.blog_all-cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.align-for-desktop {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.blog_one-card {
    display: flex;
    flex-direction: column;
}

.blog_brown-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0EAE4;
    padding: 49px 0;
    gap:25px;
}

@media (min-width: 321px) {
    .blog_one-card {
        flex-direction: row;
        height: 300px; 
        width: 678px;
    }

    .small-blok-img {
        width: 50%;
        height: 100%;
        object-fit: cover;
    }

    .blog_brown-card {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media (min-width: 769px) {
    .blog_one-card {
        flex-direction: row;
        height: 300px; 
        width: 570px;
    }
    .blog_all-cards {
        flex-direction: row; 
        gap: 30px;
    }
    .align-for-desktop {
        width: 570px;
        height: 630px;
    }

    .big-blok-desktop {
        width: 570px;
        height: 630px;
        display: flex;
        position: relative;
        justify-content: end;
        align-items: flex-end;
    }
    .big-blok-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .blog_big-brown-card {
        position: absolute;
    }

}

.questions {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
}
.questions_list {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.questions_one-card {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    border-width: 1px;
    border-color: #A87B62;
    border-style: solid;
    padding: 25px;
}
.questions_text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.arrow-align {
    width: 20px;
    height: 10px;
}
@media (min-width: 769px) {
    .questions {
        width: 970px;

    }
}

.Chjewellery {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 46px;
}
.Chjewellery_galery {
    display: flex;
    max-height: 361px;
    gap: 24px;
}
.column {
    display: flex;
    flex-direction: column;
    gap: 27px;
}
.Chjewellery_galery-big-display {
    display: none;
}
@media (min-width: 321px) {
    .Chjewellery_galery {
        display: none;
    }
    .Chjewellery_galery-big-display {
        display: flex;
        gap: 20px;
        width: 100%;
        height: 240px;
    }

    .column-big-display {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 16px;
      
    }

    .column-big-display-img {
        flex: 2;  
        display: flex;
        height: 100%;
        object-fit: cover;
    }

    .big-display-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .small-display-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@media (min-width: 769px) {
    .Chjewellery_galery-big-display {
        gap: 27px;
        height: 412px;
    }

    .column-big-display {
        gap: 34px;
    }
}
